.objContenedor{
    width: auto;
    margin: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.objDatos{
    display: flex;
    flex-direction: row;
    gap: 45px;
    font-size: medium;
}
.objTitulos{
    display: flex;
    flex-direction: row;
    gap: 45px;

}
.objTitulos2{
    display: flex;
    flex-direction: row;
    gap: 300px;
    font-weight: bold;
}
.objVistas{
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    width: auto;
}
.objFormulario{
    display: flex;
    gap: 5px;
}
.objInput{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px black;
}
.objBoton{
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
.cuerpoContenedor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    background-color: white;

}
.objInfo{
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.objEtiqueta{
    flex: 1;
    font-size: 12px;    
}
.botonActualizar{
    border: none;
    border-radius: 6px;
    background-color: gray;
    color: white;
    padding: 10px 20px;
}
.botonEliminar{
    border: none;
    border-radius: 6px;
    background-color: orange;
    padding: 10px 20px;
}
.objObjetos{
    padding: 1px;
    background-color: white;
    border: solid 1px;
    border-radius: 6px;
}
.objActualizarForm{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.objBotonEditar{
    border: none;
    border-radius: 6px;
    background-color:blue;
    color: white;
    padding: 10px 20px;    
}
.Fondo1{
    background-color:orange;
    display: flex;
    flex-direction: row;
    padding: 10px;        
}
.Fondo2{
    background-color:white;
    display: flex;
    flex-direction: 2 row;
    padding: 2px;  
}
.Fondo3{
    background-color:orange;
    padding: 2px 20px;    
}
.LateralIzquierdo{
    background-color:rgb(204, 204, 204);
    align-content: left;
    width: 200px;
    height: 500px; 
    padding: 10px 20px;
    border-radius: 6px;
    gap: 45px;

}
.LateralIzquierdo2{
    align-content: left;
    width: 200px;
    padding: 1px;
}
.HeadMain{
    padding: 10px;
    font-weight: bold;   
}
.Head{
    text-align: center;
    padding-left: 500px;
    padding-top: 30px;
    font-weight: bold;
    color: white;
    font-size: large; 
}
.Footer{
    padding: 2px 20px;
    text-align: center;   
}
.Logo{
    height: 50px;
    width: 50px;
    padding: 10px;  
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}